{% extends "./admin-base.html" %}

{% load static %}

{% block content %}

  <style>
    body{
      background-color: gray;
    }

  </style>


  <body >
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h3>Delete category</h3>
      <hr>
      <p>Are you sure you want to delete {{name}} category?</p>
      <br>

      <form method="POST" autocomplete="off">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger navbar-btn text-white">Delete this category</button>
          <br><br>
          <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'admin-dashboard' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Go back </a>
        </form>

    </div>

    
  </body>
  <br><br>




{% endblock %}