{% include "store/base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block content %}

  <style>
    body{
      background-color: gray;
    }

  </style>


  <body >
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h2><i class="fa fa-address-book" aria-hidden="true"></i>Profile management</h2>
      <hr>
      
    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h3>Update your account</h3>
    
      <hr>
      <br>

      <form id="profile-form" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="form-field">
            <input class="form-control" type="text" class="input-text" id="username" placeholder="Username*" required/>
          </div>          
          <br><br>
          <div class="form-field">
            <input class="form-control" type="email" class="input-text" id="email" placeholder="Email*" required/>     
          </div>     
          <br><br>          
          <button type="submit" class="btn btn-primary navbar-btn text-white">Update your account</button>
      </form>

    </div>
    <br>
    <div class="container bg-white shadow-md p-5 form-layout">
      <h3>Account Deletion</h3>
      <hr>
      <p>Proceed if your wish to delete your account</p>
      
      <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'delete-account' %}"> Delete your account </a>
    </div>

    
  </body>
  <br><br>

  <script>
    $(document).on('submit', '#profile-form',function(e){
      e.preventDefault();
      $.ajax({
        type: 'POST',
        url: '{% url "profile-management-action" %}',
        data: {
          username: $('#username').val(),          
          email: $('#email').val(),                  
          csrfmiddlewaretoken: "{{csrf_token}}",
          action: 'post'
        },
        success: function(json){
          window.location.replace("{% url 'dashboard' %}")
        }, 
        error: function(xhr, errmsg, err){
         
        }
      });
    })
  </script>



{% endblock %}